# Day 1 (Python)

In [106]:
name=10

In [107]:
type(name)

int

In [108]:
a=10
b=10

a==b

True

In [109]:
full_name="Shivani"
full_name

'Shivani'

In [110]:
_lastName="Joshi"
_lastName

'Joshi'

In [111]:
print(a)

10

In [112]:
print("hello world")

hello world

In [113]:
a+b

20

In [114]:
c=a+b
print(c)

20

In [115]:
print("value of b is:", b)

value of b is: 10

In [116]:
# 12+56+10
12+56+10

78

In [117]:
d=2*8

In [118]:
d/4

4.0

In [119]:
print("a is",a,"b is",b,"both values are equal and addition of both is",a+b)

a is 10 b is 10 both values are equal and addition of both is 20

In [120]:
print(f"A={a}, B={b}, addtion of both will be {a+b}")

A=10, B=10, addtion of both will be 20

In [121]:
x=2
y=10

print(f"Multiplication of {x} and {y} is {x*y}")

Multiplication of 2 and 10 is 20

In [122]:
s=8+7j
s

(8+7j)

In [123]:
a,b,c=19,20,21
print(a,b,c)

19 20 21

In [124]:
a,b,c=10,10,10
print(a,b,c)

10 10 10

In [125]:
#List[]
# heterogenous - int,float,str,boolean, complex,list , tuple
#l1=[]

In [126]:
li=[]
li

[]

In [127]:
l1=[10,20,2.5,True,8+9j,"Shivani",[1,2,3],(4,5,6)]
l1

[10, 20, 2.5, True, (8+9j), 'Shivani', [1, 2, 3], (4, 5, 6)]

In [128]:
l1[0]

10

In [129]:
l1[4]

(8+9j)

In [130]:
len(l1)

8

In [131]:
#positive indexing - 0,1,2,3,4
#negative indexing - -1,-2,-3,-4

Tuple -> datatype,(), 
Multiple value to a single variable python by default makes it tuple,  ordered, immutable

Set -> datatype, {}, do not allow duplicates, unordered

dictionary -> datatype, {key:value}, key is immutable but value is mutable, key cant be duplicate but value can be duplicate.

In [132]:
l11=["Shivani",9424073536,32,"Pune"]
l11

['Shivani', 9424073536, 32, 'Pune']

In [133]:
l11[2]=26
l11

['Shivani', 9424073536, 26, 'Pune']

In [134]:
l11[0]

'Shivani'

In [135]:
l11[1]=7986543210
l11

['Shivani', 7986543210, 26, 'Pune']

In [136]:
l11[2]

26

In [137]:
l11[3]

'Pune'

In [138]:
l11[-1]

'Pune'

In [139]:
l11[-2]

26

In [140]:
l11[-3]

7986543210

In [141]:
l11[-4]

'Shivani'

In [142]:
l11[-1]="Mumbai"
l11

['Shivani', 7986543210, 26, 'Mumbai']

In [143]:
#positive slicing
l11[0:2]

['Shivani', 7986543210]

In [144]:
l11[0:3:2]

['Shivani', 26]

In [145]:
l11[0:4:3]

['Shivani', 'Mumbai']

In [146]:
#negative slicing
l11[-3:-1]

[7986543210, 26]

In [147]:
l11[-1:-3]

[]

In [148]:
l11[2:-1]  #['Shivani', 7986543210, 26, 'Mumbai']

[26]

In [149]:
l11[4:-1]

[]

In [150]:
l11[-3:4]

[7986543210, 26, 'Mumbai']

In [151]:
l11[-2:3]   #['Shivani', 7986543210, 26, 'Mumbai']

[26]

In [152]:
l11[-3:-1]      #['Shivani', 7986543210, 26, 'Mumbai']

[7986543210, 26]

In [153]:
l11

['Shivani', 7986543210, 26, 'Mumbai']

In [154]:
l11[-4:-1:2]

['Shivani', 26]

In [155]:
l11[::-1]

['Mumbai', 26, 7986543210, 'Shivani']

In [156]:
name="Shivani Joshi"
len(name)

13

In [157]:
name[0]

'S'

In [158]:
name[1]

'h'

In [159]:
name[7]

' '

In [160]:
name[8:14]

'Joshi'

In [161]:
name[::-1]

'ihsoJ inavihS'

In [162]:
name[-5:]

'Joshi'

# Practice

In [1]:
#Assign your age to a variable and print its data type.
age=32
print(type(age))

<class 'int'>

In [2]:
#Create variables for your first name and last name, and then concatenate them.
first_name="Shivani"
last_name="Joshi"

first_name+last_name

'ShivaniJoshi'

In [4]:
first_name+ " "+ last_name

'Shivani Joshi'

In [5]:
#Assign a float value to a variable and check its type using type().
a=1.2
print(type(a))

<class 'float'>

In [6]:
#Write a Python expression that divides two numbers and stores the result in a new variable.
x = 44
y = 11

c= x/y
print(c)

4.0

In [7]:
15 + 8 * 2 - (10 / 2)

26.0

In [8]:
2/2*2-2+2

2.0

In [10]:
fullName = "Avinash Singh"

In [11]:
fullName[0]

'A'

In [12]:
fullName[-4:]

'ingh'

In [13]:
fullName[::-1]

'hgniS hsanivA'

In [14]:
fullName[2:6:2]

'ia'

In [15]:
fullName[-6:-2:2]

' i'

In [18]:
li = [2,8,2.8,11,"shivi",True]
li

[2, 8, 2.8, 11, 'shivi', True]

In [17]:
li[1]=5
li

[2, 5, 2.8, 11, 'shivi', True]

In [20]:
#can't assign non existent index
li[6]="joshi"
li

IndexError: list assignment index out of range

In [22]:
li[0:3]

[2, 8, 2.8]

In [23]:
len(li)

6

In [24]:
li[::-1]

[True, 'shivi', 11, 2.8, 8, 2]

In [26]:
tup=(6,"avi",7.7,0)
tup

(6, 'avi', 7.7, 0)

In [29]:
#can't change the elements it is immutable
tup[0]=4
tup

TypeError: 'tuple' object does not support item assignment

In [27]:
tup[0]

6

In [28]:
tup[0:2]

(6, 'avi')

In [30]:
#Create a set with some duplicate values. Print the set and observe what happens.
set1={1,3,5,3,5}
set1

{1, 3, 5}

In [31]:
#Add a new item to the set.
set1[2]=3

TypeError: 'set' object does not support item assignment

In [32]:
set[5]=3

TypeError: 'type' object does not support item assignment