In [1]:
a = """The journey of my Master of Technology has been both thrilling and challenging. I would like to acknowledge that, apart from God’s and my parents' blessings, the success of this dissertation work is the result of the invaluable encouragement and guidance of my mentor, Mr. Vandit Headu. I am deeply grateful to him for his unwavering support and for encouraging me to pursue the project with my own interest. His mentorship has been vital for nurturing my passion for research."""
a

"The journey of my Master of Technology has been both thrilling and challenging. I would like to acknowledge that, apart from God’s and my parents' blessings, the success of this dissertation work is the result of the invaluable encouragement and guidance of my mentor, Mr. Vandit Headu. I am deeply grateful to him for his unwavering support and for encouraging me to pursue the project with my own interest. His mentorship has been vital for nurturing my passion for research."

In [2]:
b = """python is easy
       its open sourse
       dynamically typed"""
b

'python is easy\n       its open sourse\n       dynamically typed'

In [6]:
d= """ python is easy \n its open sourse \n dynamically typed   """
print(d)

 python is easy
 its open sourse
 dynamically typed

In [5]:
d1= '''python is easy\tits open sourse \n dynamically typed'''
print(d1)

python is easy	its open sourse
 dynamically typed

In [9]:
d2= '''python is easy 
      \t its open 'sourse' \n dynamically typed   '''
print(d2)

python is easy
      	 its open 'sourse'
 dynamically typed

In [11]:
h="c:\h\n\python"
h

'c:\\h\n\\python'

In [15]:
h=r"c:\h\n\python"
h

'c:\\h\\n\\python'

In [16]:
h=r"c:\h\n\python"
print(h)

c:\h\n\python

In [19]:
k= "python \\t is easy "
print(k)

python \t is easy

In [20]:
#to check address of variable
id(k)

2004518414896

In [23]:
#convert to binary
a=2
bin(a)

'0o2'

In [24]:
#convert to octal
oct(a)

'0o2'

In [25]:
#convert to hexadecimal
hex(a)

'0x2'

In [26]:
#back to numerical for all binary, octal,hexa

#typecasting

#we can't typecast complex to int or float

In [27]:
s="1"
type(s)

str

In [28]:
s1=int(s) #int constructor
s1

1

In [29]:
n=25
m=float(n)

In [31]:
print(m,type(m))

25.0 <class 'float'>

In [32]:
st=str(n)
st

'25'

In [34]:
text = "we are learning python, it's very easy"
print(text)

we are learning python, it's very easy

In [36]:
text = 'we are learning python, it\'s very easy'
print(text)

we are learning python, it's very easy

In [49]:
text ='we are learning python, its very easy'
print(text[16:22]+text[27:])

python very easy

In [50]:
print(text[16:22]+text[-11:])

pythons very easy

In [51]:
li = ["shivi","kivi","lily"]

In [53]:
li[0]

'shivi'

In [54]:
li[1]

'kivi'

In [55]:
len(li)

3

In [56]:
li[0][0:3]

'shi'

In [57]:
li[1][0:3]

'kiv'

In [63]:
lis=["shivi","kivi","lily"] 
print(lis)

['shivi', 'kivi', 'lily']

In [66]:
t=li[0][0:3]+li[1][0:3]+li[2][0:3]
t

'shikivlil'

In [64]:
t=li[0][0:3],li[1][0:3],li[2][0:3]  #if we give , saparated values to one variable it will be default tuple
t

('shi', 'kiv', 'lil')

In [65]:
list(t)

['shi', 'kiv', 'lil']

# String methods

In [70]:
w = "Shivani"

In [71]:
w.upper()

'SHIVANI'

In [72]:
w.lower()

'shivani'

In [73]:
str1 = "neeta is the new data science trainer"

In [75]:
str1.capitalize()

'Neeta is the new data science trainer'

In [76]:
str1.title()

'Neeta Is The New Data Science Trainer'

In [77]:
a = """The journey of my Master of Technology has been both thrilling and challenging. I would like to acknowledge that, apart from God’s and my parents' blessings, the success of this dissertation work is the result of the invaluable encouragement and guidance of my mentor, Mr. Vandit Headu. I am deeply grateful to him for his unwavering support and for encouraging me to pursue the project with my own interest. His mentorship has been vital for nurturing my passion for research."""
a.lower()

"the journey of my master of technology has been both thrilling and challenging. i would like to acknowledge that, apart from god’s and my parents' blessings, the success of this dissertation work is the result of the invaluable encouragement and guidance of my mentor, mr. vandit headu. i am deeply grateful to him for his unwavering support and for encouraging me to pursue the project with my own interest. his mentorship has been vital for nurturing my passion for research."

In [78]:
a.upper()

"THE JOURNEY OF MY MASTER OF TECHNOLOGY HAS BEEN BOTH THRILLING AND CHALLENGING. I WOULD LIKE TO ACKNOWLEDGE THAT, APART FROM GOD’S AND MY PARENTS' BLESSINGS, THE SUCCESS OF THIS DISSERTATION WORK IS THE RESULT OF THE INVALUABLE ENCOURAGEMENT AND GUIDANCE OF MY MENTOR, MR. VANDIT HEADU. I AM DEEPLY GRATEFUL TO HIM FOR HIS UNWAVERING SUPPORT AND FOR ENCOURAGING ME TO PURSUE THE PROJECT WITH MY OWN INTEREST. HIS MENTORSHIP HAS BEEN VITAL FOR NURTURING MY PASSION FOR RESEARCH."

In [79]:
a.capitalize()

"The journey of my master of technology has been both thrilling and challenging. i would like to acknowledge that, apart from god’s and my parents' blessings, the success of this dissertation work is the result of the invaluable encouragement and guidance of my mentor, mr. vandit headu. i am deeply grateful to him for his unwavering support and for encouraging me to pursue the project with my own interest. his mentorship has been vital for nurturing my passion for research."

In [80]:
a.title()

"The Journey Of My Master Of Technology Has Been Both Thrilling And Challenging. I Would Like To Acknowledge That, Apart From God’S And My Parents' Blessings, The Success Of This Dissertation Work Is The Result Of The Invaluable Encouragement And Guidance Of My Mentor, Mr. Vandit Headu. I Am Deeply Grateful To Him For His Unwavering Support And For Encouraging Me To Pursue The Project With My Own Interest. His Mentorship Has Been Vital For Nurturing My Passion For Research."

In [ ]:
w = "Shivani"

In [95]:
w.isupper()

False

In [96]:
w.islower()

False

In [97]:
a.isupper()

False

In [98]:
a.islower()

False

In [99]:
b=a.istitle()
b

False

In [83]:
a[0:3].lower()

'the'

In [84]:
a[18:38].upper()

'MASTER OF TECHNOLOGY'

In [85]:
a[4:11].capitalize()

'Journey'

In [100]:
name="shivani"
surname="Joshi"

name+surname

'shivaniJoshi'

In [104]:
full_name=name+" "+surname

In [105]:
full_name.split()

['shivani', 'Joshi']

In [106]:
a.split()

['The',
 'journey',
 'of',
 'my',
 'Master',
 'of',
 'Technology',
 'has',
 'been',
 'both',
 'thrilling',
 'and',
 'challenging.',
 'I',
 'would',
 'like',
 'to',
 'acknowledge',
 'that,',
 'apart',
 'from',
 'God’s',
 'and',
 'my',
 "parents'",
 'blessings,',
 'the',
 'success',
 'of',
 'this',
 'dissertation',
 'work',
 'is',
 'the',
 'result',
 'of',
 'the',
 'invaluable',
 'encouragement',
 'and',
 'guidance',
 'of',
 'my',
 'mentor,',
 'Mr.',
 'Vandit',
 'Headu.',
 'I',
 'am',
 'deeply',
 'grateful',
 'to',
 'him',
 'for',
 'his',
 'unwavering',
 'support',
 'and',
 'for',
 'encouraging',
 'me',
 'to',
 'pursue',
 'the',
 'project',
 'with',
 'my',
 'own',
 'interest.',
 'His',
 'mentorship',
 'has',
 'been',
 'vital',
 'for',
 'nurturing',
 'my',
 'passion',
 'for',
 'research.']

In [107]:
print(a.split())

['The', 'journey', 'of', 'my', 'Master', 'of', 'Technology', 'has', 'been', 'both', 'thrilling', 'and', 'challenging.', 'I', 'would', 'like', 'to', 'acknowledge', 'that,', 'apart', 'from', 'God’s', 'and', 'my', "parents'", 'blessings,', 'the', 'success', 'of', 'this', 'dissertation', 'work', 'is', 'the', 'result', 'of', 'the', 'invaluable', 'encouragement', 'and', 'guidance', 'of', 'my', 'mentor,', 'Mr.', 'Vandit', 'Headu.', 'I', 'am', 'deeply', 'grateful', 'to', 'him', 'for', 'his', 'unwavering', 'support', 'and', 'for', 'encouraging', 'me', 'to', 'pursue', 'the', 'project', 'with', 'my', 'own', 'interest.', 'His', 'mentorship', 'has', 'been', 'vital', 'for', 'nurturing', 'my', 'passion', 'for', 'research.']

In [108]:
s="Shivani Joshi"
s.split()

['Shivani', 'Joshi']

In [109]:
le=s.split()
le

['Shivani', 'Joshi']

In [112]:
" ".join(le)

'Shivani Joshi'

In [113]:
"".join(le)

'ShivaniJoshi'

In [115]:
" + ".join(le)

'Shivani + Joshi'

In [116]:
l = ['1','2','3']
" ".join(l)

'1 2 3'

In [2]:
text = "Some collection classes are mutable. The methods that add, subtract, or rearrange their members in place, and don’t return a specific item, never return the collection instance itself but None."

In [3]:
print(text.split())

['Some', 'collection', 'classes', 'are', 'mutable.', 'The', 'methods', 'that', 'add,', 'subtract,', 'or', 'rearrange', 'their', 'members', 'in', 'place,', 'and', 'don’t', 'return', 'a', 'specific', 'item,', 'never', 'return', 'the', 'collection', 'instance', 'itself', 'but', 'None.']

In [4]:
print("".join(text))

Some collection classes are mutable. The methods that add, subtract, or rearrange their members in place, and don’t return a specific item, never return the collection instance itself but None.

In [5]:
print(" ".join(text))

S o m e   c o l l e c t i o n   c l a s s e s   a r e   m u t a b l e .   T h e   m e t h o d s   t h a t   a d d ,   s u b t r a c t ,   o r   r e a r r a n g e   t h e i r   m e m b e r s   i n   p l a c e ,   a n d   d o n ’ t   r e t u r n   a   s p e c i f i c   i t e m ,   n e v e r   r e t u r n   t h e   c o l l e c t i o n   i n s t a n c e   i t s e l f   b u t   N o n e .

In [125]:
print("".join(text).lower())

some collection classes are mutable. the methods that add, subtract, or rearrange their members in place, and don’t return a specific item, never return the collection instance itself but none.

In [127]:
text

'Some collection classes are mutable. The methods that add, subtract, or rearrange their members in place, and don’t return a specific item, never return the collection instance itself but None.'

In [128]:
text.find("are") #1st index of the substring in the string

24

In [129]:
text2 = "Numbers are created by numeric literals or as the result of built-in functions and operators. Unadorned integer literals (including hex, octal and binary numbers) yield integers. Numeric literals containing a decimal point or an exponent sign yield floating-point numbers. Appending 'j' or 'J' to a numeric literal yields an imaginary number (a complex number with a zero real part) which you can add to an integer or float to get a complex number with real and imaginary parts."

In [130]:
text2.find("Appending")

273

In [131]:
text2.index("Appending")

273

Difference b/w find and index

In [133]:
text2.find("Shivani")

-1

In [134]:
text2.index("Shivani")

ValueError: substring not found

In [135]:
text2.rfind("Appending") #last

273

In [136]:
text2.replace("Numbers","Shivani")

"Shivani are created by numeric literals or as the result of built-in functions and operators. Unadorned integer literals (including hex, octal and binary numbers) yield integers. Numeric literals containing a decimal point or an exponent sign yield floating-point numbers. Appending 'j' or 'J' to a numeric literal yields an imaginary number (a complex number with a zero real part) which you can add to an integer or float to get a complex number with real and imaginary parts."

In [138]:
b = """python is easy, its open sourse, dynamically typed"""
b

'python is easy, its open sourse, dynamically typed'

In [139]:
b = "python is easy", "its open sourse", "dynamically typed"
b

('python is easy', 'its open sourse', 'dynamically typed')