INT & FLOAT
1. Take two numbers as input and print their difference.
2. Multiply a float with an integer and print the result.
3. Divide a number by 2 and show the remainder.
4. Check if a given number is divisible by 7.
5. Round a float number to 1 decimal place.
6. Convert an integer to a float and print both types.
7. Take a float input and print its integer part only.
8. Use the modulus operator to get the last digit of a number.
9. Add 10 to an integer and then subtract 5 from it. Print the result.
10. Calculate simple interest given P, R, T (No loop needed).

In [26]:
a = int(input("enter any number"))
b = int(input("enter second number"))

print(b-a)
print(a-b)

-15
15

In [ ]:
c = 10.0
d = 20

f=c*d
print(f)

# the output is in float so if int*float = float

200.0

In [ ]:
num = int(input("enter number"))

result = num%2
print(result)

1

In [ ]:
number = int(input("enter number: "))

if (number%7==0):
    print("number is divisible by 7")
else:
    print("not divisible by 7")

not divisible by 7

In [ ]:
fl_num = 23.56

result =round(fl_num,1)
print(result)

23.6

In [ ]:
price = 15000
print(price)
print(type(price))

amount = float(price)
print(amount)
print(type(amount))

15000
<class 'int'>
15000.0
<class 'float'>

In [ ]:
input_num = float(input("enter float number"))

str1 = str(input_num).split(".")
int(str1[0])

56

In [ ]:
int(12.987)

12

In [ ]:
num_ber= 4563
x = num_ber%10
x

3

In [ ]:
input_number = int(input("enter any number"))
result = input_number+10
print(result-5)

71

In [ ]:
principal = float(input("enter principal"))
rate = float(input("enter rate"))
time = float(input("enter time"))

si = principal*rate*time/100
print(si)

4860.0

STR (String)

11. Take a name as input and print its first and last characters.
12. Convert a string to uppercase.
13. Convert a string to lowercase.
14. Find the position of the first occurrence of 'a' in a string.
15. Replace all 'e' characters in a string with '@'.
16. Concatenate two strings with a space in between.
17. Print the length of a given string.
18. Slice the first 3 characters of a string.
19. Check if a string contains the word 'hello'.
20. Count how many times the letter 'i' appears in a string.

In [ ]:
name = input("enter your full name")
print(name)

print(name[0])
print(name[-1])

Shivani Joshi
S
i

In [ ]:
name.upper()

'SHIVANI JOSHI'

In [ ]:
name.lower()

'shivani joshi'

In [ ]:
name.count('a')

1

In [ ]:
name.index('a',0)

4

In [ ]:
name.index('i',0)

2

In [ ]:
name.index('i',3)

6

In [ ]:
name.index('i',7)

12

In [ ]:
name.index('i',13)

ValueError: substring not found

In [ ]:
string = "hey! how are you"
print(string.replace("e",'@'))

h@y! how ar@ you

In [ ]:
first_name = "Avinash"
last_name = "Singh"

full_name = first_name+" "+last_name
print(full_name)

Avinash Singh

In [ ]:
given_str = "I am learning python"
print(len(given_str))

20

In [ ]:
given_str[0:3]

'I a'

In [ ]:
str2 = given_str.find('hello')

In [ ]:
if str2==-1:
    print("not a trace of 'hello'")
else:
    print("trace of'hello'")

not a trace of 'hello'

In [ ]:
full_name = "Shivani"

In [ ]:
full_name.count('i')

2

LIST

21. Create a list of 3 items and print it.
22. Access the second element of a list and print it.
23. Replace the last item in a list with a new value.
24. Append an item to the list and print it.
25. Insert an item at the second position in a list.
26. Remove a specific item from the list.
27. Print the length of the list.
28. Sort the list in ascending order.
29. Reverse the list using slicing.
30. Join all elements in a list of strings into a single string separated by commas.

In [ ]:
l1 = ["Lily",23,7987524632]
l1

['Lily', 23, 7987524632]

In [ ]:
l1[1]

23

In [ ]:
l1[-1]=9587246582

In [ ]:
l1

['Lily', 23, 9587246582]

In [ ]:
l1.append(True)

In [ ]:
l1

['Lily', 23, 9587246582, True]

In [ ]:
l1.insert(2,100)

In [ ]:
l1

['Lily', 23, 100, 9587246582, True]

In [ ]:
l1.remove(100)

In [ ]:
l1

['Lily', 23, 9587246582, True]

In [ ]:
len(l1)

4

In [ ]:
l2=[3,6,76,30,4,66,36,9,0]

In [ ]:
l2.sort()

In [ ]:
l2

[0, 3, 4, 6, 9, 30, 36, 66, 76]

In [ ]:
li = ["A","Z","B","h","#"]

In [ ]:
li[::-1]

['#', 'h', 'B', 'Z', 'A']

In [ ]:
days=["Monday","Tuesday","Wednesday","Thurday","Friday","Saturday","Sunday"]
days

['Monday', 'Tuesday', 'Wednesday', 'Thurday', 'Friday', 'Saturday', 'Sunday']

In [ ]:
",".join(days)

'Monday,Tuesday,Wednesday,Thurday,Friday,Saturday,Sunday'

TUPLE

31. Create a tuple with 3 integers and print it.
32. Access the first element of a tuple.
33. Slice the tuple to get the last two elements.
34. Use the 'in' keyword to check if a value exists in the tuple.
35. Get the length of the tuple.
36. Convert the tuple to a list.
37. Count how many times a value appears in a tuple.
38. Find the index of a given value in the tuple.
39. Concatenate two tuples.
40. Check if two tuples are equal.

In [ ]:
tup = (3,1,8)
tup
print(type(tup))

<class 'tuple'>

In [ ]:
tup[0]

3

In [ ]:
tup[1:3]

(1, 8)

In [ ]:
3 in tup

True

In [ ]:
len(tup)

3

In [ ]:
list(tup)

[3, 1, 8]

In [ ]:
t = (2,4,6,7,4,5,9,4)
t.count(4)

3

In [ ]:
t.index(7)

3

In [ ]:
t1=(1,3,5)
t2=(1,3,5)

t10 = t1+t2
t10

(1, 3, 5, 1, 3, 5)

In [ ]:
if t1==t2:
    print("tuples are equal")
else:
    print("tuples are nt equal")

tuples are equal

DICT (Dictionary)

41. Create a dictionary with keys: 'name', 'age', 'city'.
42. Access the value of the key 'name'.
43. Update the value of 'age' in the dictionary.
44. Add a new key 'email' with any value.
45. Delete the key 'city' from the dictionary.
46. Print all the keys of the dictionary.
47. Print all the values of the dictionary.
48. Check if 'age' exists as a key in the dictionary.
49. Get the value of a key using the get() method.
50. Clear all items from the dictionary.

In [27]:
di1 = {'name':'Rahul','age':25,'city':'Indore'}
di1

{'name': 'Rahul', 'age': 25, 'city': 'Indore'}

In [28]:
di1.get('name')

'Rahul'

In [29]:
di1['name']

'Rahul'

In [30]:
di1['age']=33

In [31]:
di1

{'name': 'Rahul', 'age': 33, 'city': 'Indore'}

In [32]:
di1['email']='rahul@123.com'

In [33]:
di1

{'name': 'Rahul', 'age': 33, 'city': 'Indore', 'email': 'rahul@123.com'}

In [34]:
di1.pop('city')

'Indore'

In [35]:
di1

{'name': 'Rahul', 'age': 33, 'email': 'rahul@123.com'}

In [36]:
di1.keys()

dict_keys(['name', 'age', 'email'])

In [37]:
di1.values()

dict_values(['Rahul', 33, 'rahul@123.com'])

In [40]:
di1.get('age','key not found')

33

In [41]:
di1.get('email')

'rahul@123.com'

In [43]:
di1.clear()

In [44]:
di1

{}

SET

51. Create a set with 3 numbers and print it.
52. Add a new element to the set.
53. Remove an element from the set.
54. Check if an element exists in the set.
55. Find the union of two sets.
56. Find the intersection of two sets.
57. Find the difference of two sets.
58. Copy a set to a new variable.
59. Check if a set is a subset of another.
60. Clear all elements from a set.

In [45]:
s1 = {3,5,10}
s1

{3, 5, 10}

In [46]:
print(type(s1))

<class 'set'>

In [50]:
l1=list(s1)
l1

[10, 3, 5]

In [51]:
l1.append(8)

In [52]:
l1

[10, 3, 5, 8]

In [54]:
s2 =set(l1)
s2

{3, 5, 8, 10}

In [55]:
s2.remove(5)

In [56]:
s2

{3, 8, 10}

In [60]:
3 in s2

True

In [59]:
if (3 in s2):
    print("3 is present")
else:
    print("3 is not present")

3 is present

In [61]:
si1 = {2,5,4,6,7,9}
si2 = {3,6,10,4,6,7}

In [62]:
si1.union(si2)

{2, 3, 4, 5, 6, 7, 9, 10}

In [63]:
si1.intersection(si2)

{4, 6, 7}

In [64]:
si1.symmetric_difference(si2)

{2, 3, 5, 9, 10}

In [65]:
si1.difference(si2)

{2, 5, 9}

In [66]:
si2.difference(si1)

{3, 10}

In [79]:
set_11 = {1,3,5,7}
set_22 = set_11.copy()
set_11.add(12)
print(set_11)
print(set_22)

{1, 3, 5, 7, 12}
{1, 3, 5, 7}

In [88]:
st1= {3,55,47,2,88,0}
st2 ={0,88,55}

In [89]:
st2.issubset(st1)

True

In [90]:
st1.clear()

In [91]:
st1

set()