In [4]:
# defiition
def print_hello():
    print('Hello')

In [5]:
# calling
print_hello()

Hello

In [7]:
# defiition
def print_hello():
    print(1/0)

In [8]:
print_hello()

ZeroDivisionError: division by zero

In [79]:
# defiition
def print_hello(name):
    print('Hello', name)

In [80]:
print_hello('Himanshu')

Hello Himanshu

In [81]:
print_hello('Aniket')

Hello Aniket

In [25]:
# function with paramters
def print_name(name, age):
    print('Hello ', name, 'you are', age, 'years old')

In [26]:
print_name(name= 'Himanshu', age=50)

Hello  Himanshu you are 50 years old

In [27]:
print_name(name= 'Aniket', age=20)

Hello  Aniket you are 20 years old

In [43]:
a = len('sdjhdsmkjds')

In [32]:
a

11

In [44]:
res = print_name('a', 5)

Hello  a you are 5 years old

In [45]:
res

In [60]:
# function with paramters
def print_name(name, age):
    return 'Hello ', name, 'you are', age, 'years old'

In [61]:
res = print_name('Himanshu', 50)

In [62]:
res

('Hello ', 'Himanshu', 'you are', 50, 'years old')

In [65]:
def diff(a,b):
    return(a-b)

In [69]:
## positional paramters

In [70]:
diff(1,2)

-1

In [72]:
# keyword parameters

In [141]:
diff(a=2,b=1)

1

In [73]:
# keyword and positional paramters

In [74]:
def sum(a,b,c,d):
    return a + b + c + d

In [83]:
sum(1,2,b=3,d=4)

TypeError: sum() got multiple values for argument 'b'

In [89]:
# default parameters

In [98]:
def summer(a=0,b=0,c=0,d=0):
    print ("a - ",a)
    print ("b - ",b)
    print ("c - ",c)
    print ("d - ",d)

In [102]:
summer(2,3)

a -  2
b -  3
c -  0
d -  0

In [104]:
# n unnamed args

In [105]:
def summer(a,b,c,d):
    return a + b + c + d

In [109]:
def nunamed(*args):
    print(args)

In [125]:
nunamed(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [132]:
def new_sum(*nums):
    return(sum(nums))

In [133]:
new_sum(1,2,3,4,5)

15

In [142]:
# n named parameters

In [143]:
def address(**kwargs):
    print(kwargs)

In [144]:
address(name='Himanshu', city='Pune', country='India', Taluka='Mulshi')

{'name': 'Himanshu', 'city': 'Pune', 'country': 'India', 'Taluka': 'Mulshi'}

In [151]:
{'name': 'Himanshu', 'city': 'Pune', 'country': 'India', 'Taluka': 'Mulshi'}.items()

dict_items([('name', 'Himanshu'), ('city', 'Pune'), ('country', 'India'), ('Taluka', 'Mulshi')])

In [149]:
def address(**kwargs):
    for k,v in kwargs.items():
        print(k.upper(),'-', v)

In [150]:
address(name='Himanshu', city='Pune', country='India', Taluka='Mulshi')

NAME - Himanshu
CITY - Pune
COUNTRY - India
TALUKA - Mulshi

In [153]:
def even_or_ood(number):
    if number%2==0:
        return 'Even'
    else:
        return 'Odd'

In [154]:
even_or_ood(2)

'Even'

In [155]:
even_or_ood(3)

'Odd'

In [170]:
def vowel_counter(sentence):
    ctr = []
    vowels = ['a', 'e', 'i', 'o', 'u']
    for letter in sentence:
        if letter.lower() in vowels:
            ctr.append(letter.lower())
    return len(set(ctr))

In [171]:
vowel_counter('Himanshu Tyagi')

3

In [172]:
ctr

NameError: name 'ctr' is not defined

In [173]:
# recursion

In [175]:
# calling a function inside itself is called recursion

In [179]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [181]:
factorial(4)

24

In [ ]:
# factorial(4) > 

# 4 * factorial(3)
# 4 * 3 * factorial(2)
# 4 * 3 * 2 *  factorial(1)
# 4 * 3 * 2 *  1

In [1]:
### lambda functions

In [3]:
lambda_x = lambda x: x+2

In [6]:
def even_or_ood(number):
    if number%2==0:
        return 'Even'
    else:
        return 'Odd'

In [7]:
even_or_ood(2)

'Even'

In [9]:
even_odd_lambda = lambda x : 'Even' if x%2==0 else 'Odd'

In [10]:
even_odd_lambda(2)

'Even'

In [11]:
summer = lambda x,y : x+y

In [12]:
summer(1,2)

3

In [14]:
list(map(even_odd_lambda, [1,2,3,4,5,6]))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [15]:
'hey there how are you?'.split()

['hey', 'there', 'how', 'are', 'you?']

In [ ]:
words = ['hey', 'there', 'how', 'are', 'you?']
vowels = ['a', 'e', 'i', 'o', 'u']

In [ ]:
vowel_check = lambda word : len([char for char in word if char in vowels])

In [26]:
vowel_check('hey')

1

In [30]:
# nested loop list comprehension
words = ['hey', 'there', 'how', 'are', 'you?']

In [33]:
[char for word in words for char in word]

['h',
 'e',
 'y',
 't',
 'h',
 'e',
 'r',
 'e',
 'h',
 'o',
 'w',
 'a',
 'r',
 'e',
 'y',
 'o',
 'u',
 '?']

In [35]:
list(map(vowel_check, words))

[1, 2, 1, 2, 2]

In [49]:
div_by_5 = lambda  num : num if num%5==0 else False

In [50]:
div_by_5(11)

False

In [52]:
set(map(div_by_5, range(100)))

{0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95}

In [ ]:
for i in range(100):
    if div_by_5(i) ==  True:
        print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [55]:
list(filter(lambda x : x%5==0, range(100)))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [58]:
l1 = ['hey', 'there', 'how', 'are', 'you?']

In [59]:
[i.upper() for i in l1]

['HEY', 'THERE', 'HOW', 'ARE', 'YOU?']

In [57]:
list(map(lambda x: x.upper(), ['hey', 'there', 'how', 'are', 'you?']))

['HEY', 'THERE', 'HOW', 'ARE', 'YOU?']