Beginner Level (Function Basics):

1. Write a function that takes a name as input and prints "Hello, <name>!"
2. Create a function that takes two numbers and returns their sum.
3. Write a function to check whether a number is even or odd.
4. Write a function that takes a list of numbers and returns the maximum number.
5. Define a function that calculates the area of a circle given the radius.
6. Create a function that accepts a list and returns the number of even numbers in it.
7. Write a function that takes a string and returns the reversed string.
8. Define a function to find the factorial of a number using a loop.
9. Write a function to calculate the square and cube of a number and return both.
10. Create a function with default arguments for greeting: greet(name, msg="Good morning").

In [2]:
def print_name(name):
    print(name)

In [4]:
print_name("Hello, !")

Hello, !

In [5]:
def sum(a, b):
    c = a+b
    return c

In [6]:
result = sum(55,9)
print(result)

64

In [7]:
def even_odd(num):
    if num%2==0:
        return "Even"
    else:
        return "Odd"

In [8]:
result = even_odd(7)
print(result)

Odd

In [9]:
def maximum(lis):
    c = max(lis)
    return c

In [12]:
lis = [3,5,76,9,82,44,0]
print(maximum(lis))

82

In [13]:
def area_of_circle(r):
    area = 3.14*r*r
    print("Area of circle of given radius: ",area)

In [14]:
r = int(input("Enter the value of radius to measure area of the circle"))
area_of_circle(r)

Area of circle of given radius:  78.5

In [23]:
def num_of_evens(lis):
    li = []
    for i in lis:
        if i%2==0:
           li.append(i)
    return li

In [24]:
lis =[5,6,22,9,0,54,63,99]
result =num_of_evens(lis)
print(result)

[6, 22, 0, 54]

In [25]:
def rev_string(str1):
    str1=str1[::-1]
    return str1

In [26]:
print(rev_string("Hi my name is lily"))

ylil si eman ym iH

In [29]:
def fact(num):
    f=1
    for i in range(1,num+1):
        f *=i
    return f

In [30]:
print(fact(5))

120

In [31]:
def both_sq_cube(number):
    sq = number**2
    cube= number**3
    
    return sq,cube

In [32]:
result = both_sq_cube(8)
print(result)

(64, 512)

In [33]:
def greet(name, msg="Good morning"):
    print(name, msg)

In [37]:
greet("Shivani ðŸ‘‹")

Shivani ðŸ‘‹ Good morning


Intermediate Level (Arguments, Scope, Lambda):

11. Write a function that takes variable number of arguments and returns their average.
12. Create a function to check whether a given string is a palindrome.
13. Write a function that accepts a dictionary and prints all key-value pairs.
14. Write a function that returns both the smallest and largest number in a list.
15. Create a function that modifies a global variable (e.g., a counter).

In [6]:
def avrg(*arg):
    count = 0
    sum = 0
    for i in arg:
        count = count+1
        sum = sum+i
    c = sum/count
    return c

In [7]:
result = avrg(2,6,4,8,7)
print(result)

5.4

In [8]:
def rev_palin(string):
    if string == string[::-1]:
        return "Palindrome"
    else:
        return "not Palindrome"

In [16]:
result = rev_palin("MOM")
print(result)

Palindrome

In [19]:
def dictionary_k_v(dic1):
    for k,v in dic1.items():
        print(k,v)

In [20]:
dic1 = {'A':1,'B':2,'C':3}
dictionary_k_v(dic1)

A 1
B 2
C 3

In [28]:
def smallest_largest(list1):
    maxi = list1[0]
    mini = list1[0]
    for i in list1:
        if i > maxi:
            maxi = i
            
        if i<mini:
            mini = i
    return maxi, mini

In [29]:
list1 = [3,6,5,8,11,25]
result = smallest_largest(list1)
print("Smallest",result[0])
print("Largest",result[1])

Smallest 25
Largest 3

In [32]:
counter = 0 
def counts():
    global counter
    counter = counter+1
    print("Counter", counter)

In [33]:
counts()
counts()

Counter 1
Counter 2


Lambda and Functional Programming:

16. Write a lambda function to calculate the square of a number.
17. Use a lambda function with map() to double all elements in a list: [1, 2, 3, 4] -> [2, 4, 6, 8].
18. Use a lambda function with filter() to get only even numbers from a list.
19. Sort a list of tuples using a lambda function by the second item: [(1, 3), (2, 2), (3, 1)].
20. Use a lambda function with reduce() to compute the product of all elements in a list. (Hint: Use
'from functools import reduce')

In [40]:
square = lambda x:x**2
print(square(5))

25

In [41]:
double_elements = list(map(lambda lis : lis*2,[1,2,3,4]))
double_elements

[2, 4, 6, 8]

In [43]:
even_num = list(filter(lambda x : x%2==0 , [2,4,6,4,7,8,2,8]))
set(even_num)

{2, 4, 6, 8}

In [45]:
sort_list = [(1, 3), (2, 2), (3, 1)]
sort_list.sort(key = lambda i :i[1])
print(sort_list)

[(3, 1), (2, 2), (1, 3)]

In [47]:
from functools import reduce

numbers = [4,8,7,2,6]

product = reduce(lambda x, y: x * y, numbers)

print(product)

2688