Functions - 10 Questions

1. Write a function `greet(name)` that returns a greeting message with the given name.
2. Write a function `sum_list(lst)` that returns the sum of all numbers in a list.
3. Create a function `is_prime(n)` that returns `True` if `n` is a prime number.
4. Write a function `reverse_string(s)` that returns the reverse of a given string.
5. Write a function that accepts a list and returns a new list with only unique elements.
6. Write a function `max_of_three(a, b, c)` that returns the maximum of three numbers.
7. Create a function `count_vowels(s)` that counts vowels in a given string.
8. Write a function `fibonacci(n)` that returns the first `n` Fibonacci numbers.
9. Create a function `to_celsius(f)` that converts Fahrenheit to Celsius.
10. Create a function `calculate_area(shape, **kwargs)` to compute area for rectangle, triangle, or
circle using keyword arguments.

In [1]:
def greet(name):
    return "Hi!", name

In [3]:
print(greet("Shivani"))

('Hi!', 'Shivani')

In [4]:
def greet(name):
    print("Hi!",name)

In [5]:
greet("Shivani")

Hi! Shivani

In [10]:
sum =0
def sum_list(lst):
    global sum
    for i in lst:
        sum = sum +i
    return sum

In [11]:
result = sum_list([2,5,7,4,9,17])
print(result)

44

In [12]:
def is_prime(n):
    if n <2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True

In [15]:
is_prime(15)

False

In [16]:
def reverse_string(s):
     s=s[::-1]
     return s

In [17]:
reverse_string("localhost")

'tsohlacol'

In [18]:
def new_unique_list(lst):
    list_new = set(lst)
    return list_new

In [22]:
lst1 = input("enter numbers to create list separated by space")
lst2 = [int(x) for x in lst1.split()]
result = new_unique_list(lst2)
print(result)

{1, 2, 5, 6, 8}

In [30]:
def max_of_three(a, b, c):
    if a < b:
        if b < c:
            return c
        else:
            return b
    elif a>b:
        if a>c:
            return a
        else:
            return c

In [31]:
max_of_three(10,5,11)

11

In [35]:
def count_vowels(s):
    count = 0
    for i in s:
        if i.lower() in "aeiou":
            count =count+1
    return count

In [36]:
result = count_vowels("Localhost")
print(result)

3

In [1]:
def to_celsius(f):
    cel = (f-32)*5/9
    return cel

In [2]:
to_celsius(98)

36.666666666666664